{:paths ["src"]
 :tasks {:requires ([clojure.java.io :as io]
                    [cheshire.core :as json]
                    [taiwan-laws :as t])
         prepare-jsons
         {:doc "download and prepare law jsons"
          :task (do (t/download-and-unzip-laws)
                    (t/jq-process-jsons))}
         process-law-jsons
         {:doc "extract and process laws"
          :task
          (let [laws (-> (io/reader "blob/law.jq.json")
                         (json/parse-stream true) :Laws)
                orders (-> (io/reader "blob/order.jq.json")
                           (json/parse-stream true) :Laws)]
            (t/process-law-jsons laws "laws")
            (t/process-law-jsons orders "laws"))}}}

